body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue';
    background-color: #ffff9f;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 10px;
    font-family: 'Josefin Sans';
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 50%;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}